app-title{
    animation: taskwise-appear 1s ease-out;
    position: relative;
    top: 7rem;
    justify-content: center;
    display: flex;
}

app-slogan{
    animation: slogan-appear 2s;
    position: relative;
    top: 7rem;
}

app-button{
    animation: button-appear 4s;
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.button-group{
    position: relative;
    top: 4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@keyframes taskwise-appear {
    0% {
        opacity: 0%;
        top: 50rem;
    }
    100% {
        opacity: 100%;
        top: 7rem;
    }
}

@keyframes slogan-appear {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
    
}

@keyframes button-appear {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}