input{
    height: 56px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.5);
    margin-bottom: 1rem;
    font-size: 16px;
    padding: 1rem;
    color: var(--input-text-color)
}

label{
    position: relative;
    font-family: 'Source Sans 3', serif;
    color: white;
    font-size: 16px;
    font-weight: 200;
    margin-left: 0.5rem;
    margin-right: 55%;
    margin-bottom: 0.5rem;
}

@media (min-width: 540px) {
    input{
       width: 100%;
       max-width: 35rem;
       margin: auto;
    }
    label{
        margin-left: 2.5rem;
        margin-right: 50%;
        margin-top: 1rem;
    }
}

@media (min-width: 768px) {
    label{
        margin-left: 10rem;
    }
}

@media (min-width: 800px){
    label{
        margin-left: 11rem;
    }

}

@media (min-width: 1400px) {
    label{
        margin-left: 6rem;
    }
}
