/*Imports, variables and global styles*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    /* --bg-color: #353a3e; */
    --bg-color: #f2f4f5;
    --main-bg-color: #455564;
    --card-color: rgb(82, 103, 126);
    --highlight-color: #878f99;
    --text-color: white;
    --button-text-color: #253644;
    --input-text-color: #092b42;
    --opened-card-color: #3c5168;
}

body{
    padding-top: 0.2rem;
    background-color: var(--bg-color);
}

main{
    width: 99%;
    max-width: 50rem;
    margin: auto;
    margin-bottom: 0;
    background-color: var(--main-bg-color);
    padding: 2rem;
    min-height: 99vh;
    max-height: 99vh;
    position: relative;
    border-radius: 24px;
}
