app-title{
    position: relative;
    animation: taskwise-move 1s;
}

.form-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    animation: input-appear 2s;
}

.form-container input{
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.5);
    margin-bottom: 1rem;
    font-size: 16px;
    padding: 1rem;
    color: var(--input-text-color)
}

.form-container label{
    position: relative;
    left: -6rem;
    margin-bottom: 0.5rem;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 14px;

}

.edit{
    display: flex;
    justify-content: center;
    animation: input-appear 2s;
    gap: 1rem;
    padding-right: 5rem;
}

.edit button{
    background-color: var(--highlight-color);
    border: none;
    width: fit-content;
    max-width: 12rem;
    height: 64px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 1rem;
    font-family: 'Source Sans 3', serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--button-text-color);
    margin-top: 2rem;
}

.edit button.return{
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 24px;
}

.edit button:hover{
    cursor: pointer;
    filter: brightness(1.1);
}

@media (min-width: 375px) {
    .form-container label{
        left: -8rem
    }
    .edit{
        gap: 2.5rem;
        padding-right: 5.5rem;
    }
}

@media (min-width: 425px) {
    .form-container label{
        left: -9rem
    }
    .edit{
        gap: 4rem;
        padding-right: 7rem;
    }
    .edit button{
        padding: 1rem;
    }
}

@media (min-width: 768px) {
    .form-container label{
        left: -13rem
    }
    .form-container input{
        max-width: 30rem;
    }
    .edit{
        gap: 7.5rem;
        padding-right: 10.5rem;
    }

    .edit button {
        font-size: 24px;
    }
    
}

@keyframes input-appear {
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 0%;
    }
}

@keyframes taskwise-move {
    0%{
        top: 7rem
    }
    100%{
        top: 0
    }
}
