#task-wise {
    font-family: 'Oswald', serif;
    color: white;
    font-size: 32px;
    font-weight: 700;
    position: relative;
    width: fit-content;
    margin-bottom: 1rem;
    margin-top: 0.7rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 540px) {
    #task-wise {
        font-size: 64px;
    }
}
