main{
    padding: 2rem;
}

app-no-task{
    margin-top: 3rem;
}

#card-container{
    height: 70vh;
    margin-top: 1.5rem;
    overflow: auto;
}

#card-container{
    scrollbar-width: none;
}

@media (min-width: 540px){
    #card-container{
        padding-right: 2.5rem;
        padding-left: 2.5rem;
        scrollbar-width: thin;
        scrollbar-color: var(--highlight-color);
    }

}
