<ng-template [ngIf]="opened" [ngIfElse]="closed">
    <section class="card opened" [ngClass]="{'completed': completed}">
        <p>{{ name }}</p>
        <ng-template [ngIf]="completed" [ngIfElse]="incomplete">
            <button class="completed-check" (click)="complete()">
                <i class="fa-solid fa-square-check"></i>
            </button>
        </ng-template>
        <ng-template #incomplete>
            <button class="completed-check" (click)="complete()">
                <i class="fa-regular fa-square"></i>
            </button>
        </ng-template>
        <button class="collapse" (click)="open()">
            <i class="fa-solid fa-chevron-up"></i>
        </button>
    </section>
    <section class="content">
        <p>{{ content }}</p>
        <button class="delete" (click)="confirmDelete()">EXCLUIR</button>
    </section>
</ng-template>

<ng-template #closed>
    <section class="card closed" [ngClass]="{'completed': completed}">
        <p>{{ name }}</p>
        <ng-template [ngIf]="completed" [ngIfElse]="incomplete">
            <button class="completed-check" (click)="complete()">
                <i class="fa-solid fa-square-check"></i>
            </button>
        </ng-template>
        <ng-template #incomplete>
            <button class="completed-check" (click)="complete()">
                <i class="fa-regular fa-square"></i>
            </button>
        </ng-template>
        <button class="drop" (click)="open()">
            <i class="fa-solid fa-chevron-down"></i>
        </button>
    </section>
</ng-template>
